<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.toyproject.ipaccess.domain.IpAccessUserRepository">

    <select id="selectAll" resultType="com.my.toyproject.ipaccess.dto.IpAccessUserDto">
        SELECT
            *
        FROM
            ip_access_table
        WHERE
            openYn = 1
    </select>

</mapper>
