<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.toyproject.dblog.mapper.DataBaseLogMapper">
    <sql id="column_database_log_table">
        id,
        url,
        request,
        response,
        etc,
        serverIp,
        serverPort,
        registerTime
    </sql>
    
    <insert id="insertLog" parameterType="com.my.toyproject.dblog.dto.DataBaseLogDto">
        INSERT INTO database_log_table
        (
            <include refid="column_database_log_table"/>
        )
        VALUES (
            NULL,
            #{url},
            #{request},
            #{response},
            #{etc},
            #{serverIp},
            #{serverPort},
            now()
        )
    </insert>

</mapper>
